@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  margin: 20px 0;
}

.background {
  width: 100%;
  height: 50vh;
  border-radius: 20px;
}

